<!-- <div class="index">
  <section id="cosmosDance" class="section">
    <div class="section-inner is-fullhdMax">
      <div class="container">
        <div class="is-flex-mobile is-justify-content-center is-align-items-center">
        </div>
        <div class="columns is-desktop">
          <div class="column is-half">
            <div dir="ltr" class="slick-slider slick-initialized">
              <div class="custom-arrow slick-arrow slick-prev">
                <span class="icon has-icons-left is-medium is-transparent-arrow"><i
                    class="mdi mdi-chevron-left mdi-24px"></i></span>
              </div>
              <div class="slick-list">
                <div class="slick-track" style="width: 5949px; opacity: 1; transform: translate3d(-1322px, 0px, 0px);">
                  <div tabindex="-1" data-index="-1" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;">
                    <div>
                      <div tabindex="-1" style="width:100%;display:inline-block;">
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125545060_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" aria-hidden="false" class="slick-slide" style="outline: none; width: 661px;">
                    <div>
                      <div tabindex="-1" style="width:100%;display:inline-block;">
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125503983_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="1" aria-hidden="false" class="slick-slide slick-active slick-current"
                    style="outline: none; width: 661px;">
                    <div>
                      <div tabindex="-1" style="width:100%;display:inline-block;">
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125517243_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="2" aria-hidden="false" class="slick-slide"
                    style="outline: none; width: 661px;">
                    <div>
                      <div tabindex="-1" style="width:100%;display:inline-block;">
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125531729_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="3" aria-hidden="false" class="slick-slide"
                    style="outline: none; width: 661px;">
                    <div>
                      <div tabindex="-1" style="width:100%;display:inline-block;">
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125545060_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="4" aria-hidden="false" class="slick-slide slick-cloned"
                    style="width: 661px;">
                    <div>
                      <div tabindex="-1" style="width:100%;display:inline-block;">
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125503983_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="5" aria-hidden="false" class="slick-slide slick-cloned"
                    style="width: 661px;">
                    <div>
                      <div tabindex="-1" style="width:100%;display:inline-block;">
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125517243_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="6" aria-hidden="false" class="slick-slide slick-cloned"
                    style="width: 661px;">
                    <div>
                      <div tabindex="-1" style="width:100%;display:inline-block;">
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125531729_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="7" aria-hidden="false" class="slick-slide slick-cloned"
                    style="width: 661px;">
                    <div>
                      <div tabindex="-1" style="width:100%;display:inline-block;">
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125545060_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="custom-arrow slick-arrow slick-next">
                <span class="icon has-icons-right is-medium is-transparent-arrow"><i
                    class="mdi mdi-chevron-right mdi-24px"></i></span>
              </div>
            </div>
          </div>
          <div class="column has-text-white is-half">
            <div id="cosmosDance_Content" class="cosmos-content">
              <h3 class="cosmos-sub-title">
                SANAT, GASTRONOMİ, EĞLENCE VE TEKNOLOJİNİN EŞSİZ BİR SENTEZİ
              </h3>
              <div>
                <p>Sanat, eğlence ve rafine bir gastronomi anlayışını mükemmel bir şekilde harmanlayan Cosmos Theatre,
                  yeni nesil bir akşam yemeği tiyatrosudur.</p>
                <p>&nbsp;</p>
                <p>Cosmos Theatre, Antalya halkına ve Antalya’ya gelen tüm turistlere eşsiz bir deneyim yaşatmak için
                  hazır!</p>
              </div>
              <div id="cosmosDance_video" class="block">
                <video autoplay muted loop [muted]="videoMuted" id="cosmosDance_video_player" preload="none"
                  (mouseenter)="onHoverMethod(true)" (mouseleave)="onHoverMethod(false)">
                  <source src="../../../../assets/videos/home-page-video.mp4" type="video/mp4">
                </video>
                <button type="button" class="button is-large is-text has-text-white">
                  <span><img
                      src="{{(pauseMainPageVid ?  '../../../../assets/icons/pause-button.png' : '../../../../assets/icons/play-button.png')}}"
                      alt="cosmostheatre" class="play-icon">
                  </span> </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cosmos-absolute-content"></div>
    </div>
  </section> -->
<!-- <section class="magnificent-show section" data-v-d0505ad0="" data-v-6700ede1="">
    <div class="section-inner is-fullhdMax"   data-v-d0505ad0="">
      <div class="container"  >
        <div class="is-flex-mobile is-justify-content-center is-align-items-center"  > 
        </div>
        <div class="columns is-desktop"  >
          <div class="column is-three-fifths has-position-relative"  >
            <div id="magnificentShow_Content" class="cosmos-content"  >
              <h3 class="cosmos-title cosmos-title--star"   data-v-d0505ad0="">
                ANDY SHOW
                <img src="/_nuxt/img/icon-star.dcce8c7.svg" alt="cosmostheatre"   data-v-d0505ad0="">
              </h3>
              <h4 class="cosmos-sub-title"   data-v-d0505ad0="">
                Hayal Gücünün Ötesinde
              </h4>
              <div   data-v-d0505ad0="">
                <p>Hayal gücünüzün sınırlarını zorlamanın ve evrenin sonsuzluğunu keşfetmenin tam zamanı!</p>
                <p>Çeşitli sanat dallarının harmanlandığı canlı bir şov ile büyüleyici dünyalara doğru kozmik bir
                  yolculuğa davetlisiniz. Görsel bir şölenle birleşen bu içten hikaye unutulmaz bir gece olacak. "ANDY"
                  kalbinizde ve duygularınızda iz bırakacak.</p>
              </div> <a href="/tr/andy-show" class="button is-cosmos-blue is-large-widescreen"  
                data-v-d0505ad0="">
                DETAY
              </a> <img src="/_nuxt/img/lights.0861a38.png" alt="cosmostheatre" height="223" width="340"
                class="lights is-hidden-mobile"   data-v-d0505ad0="">
            </div>
          </div>
          <div class="column percent-80-right"  >
            <div class="slick-slider slick-initialized"   >
              <div class="slick-list" >
                <div class="slick-track" style="width: 419px; opacity: 1; transform: translate3d(0px, 0px, 0px);"
                    >
                  <div tabindex="-1"   aria-hidden="false" class="slick-slide slick-active slick-current"
                    style="outline: none; width: 419px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125311439_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
      <div class="cosmos-absolute-content"  ></div>
    </div>
  </section>
  <section class="gastronomy section" data-v-049c5c5f="" data-v-6700ede1="">
    <div class="section-inner is-fullhdMax"   data-v-049c5c5f="">
      <div class="container"  >
        <div class="is-flex-mobile is-justify-content-center is-align-items-center"  > 
        </div>
        <div class="columns is-desktop"  > 
          <div class="column is-half"  >
            <div dir="ltr" class="slick-slider slick-initialized"   >
              <div class="custom-arrow slick-arrow slick-prev"     >
                <span class="icon has-icons-left is-medium is-transparent-arrow"  
                   ><i class="mdi mdi-chevron-left mdi-24px"  
                     ></i></span>
              </div>
              <div class="slick-list" >
                <div class="slick-track" style="width: 3305px; opacity: 1; transform: translate3d(-1322px, 0px, 0px);"
                    >
                  <div tabindex="-1" data-index="-1" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125835162_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1"   aria-hidden="true" class="slick-slide"
                    style="outline: none; width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230116181239544_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="1" aria-hidden="false" class="slick-slide slick-active slick-current"
                    style="outline: none; width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125835162_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="2" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230116181239544_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="3" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125835162_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="custom-arrow slick-arrow slick-next"     >
                <span class="icon has-icons-right is-medium is-transparent-arrow"  
                   ><i class="mdi mdi-chevron-right mdi-24px"  
                     ></i></span>
              </div>
            </div>
          </div>
          <div class="column is-half"  >
            <div id="Gastronomy_Content" class="cosmos-content"  ><img
                src="/_nuxt/img/fallingStar.e33f94f.png" alt="cosmostheatre" class="is-hidden-touch falling-star"
                  data-v-049c5c5f="">
              <h3 class="cosmos-title cosmos-title--star"   data-v-049c5c5f="">
                GASTRONOMİ
                <img src="/_nuxt/img/icon-star.dcce8c7.svg" alt="cosmostheatre"   data-v-049c5c5f="">
              </h3>
              <h4 class="cosmos-sub-title"   data-v-049c5c5f="">
                Rafine Bir Gastronomi Deneyimi
              </h4>
              <div   data-v-049c5c5f="">
                <p>Yetenekli mutfak ekibimiz tarafından tasarlanan temalı mutfak lezzetleriyle duyularınızı uyandıracak
                  bir ziyafete hazırlanın!</p>
                <p>&nbsp;</p>
                <p>Enfes içecek ve kokteyl seçkisinin yanı sıra eşsiz bar servisimiz Cosmos Theatre’da yaşayacağınız
                  deneyimi unutulmaz kılacak!</p>
                <p><br>&nbsp;</p>
              </div> <a href="/tr/gastronomi" class="button is-cosmos-blue is-large-widescreen"  
                data-v-049c5c5f="">
                DETAY
              </a> <img src="/_nuxt/img/crescent.38f24bb.png" alt="cosmostheatre" class="crescent"  
                data-v-049c5c5f="">
            </div>
          </div>
        </div>
      </div>
      <div class="cosmos-absolute-content"  ></div>
    </div>
  </section>
  <section class="club-cosmos section" data-v-2e0d16ed="" data-v-6700ede1="">
    <div class="section-inner is-fullhdMax"   data-v-2e0d16ed="">
      <div class="container"  >
        <div class="is-flex-mobile is-justify-content-center is-align-items-center"  > 
        </div>
        <div class="columns is-desktop"  >
          <div class="column is-half"  >
            <div id="clubCosmos_Content" class="cosmos-content"  >
              <h3 class="cosmos-title cosmos-title--star"   data-v-2e0d16ed="">
                CLUB COSMOS
                <img src="/_nuxt/img/icon-star.dcce8c7.svg" alt="cosmostheatre"   data-v-2e0d16ed="">
              </h3>
              <h4 class="cosmos-sub-title"   data-v-2e0d16ed="">
                Muhteşem Bir Gece Kulübü Deneyimi
              </h4>
              <div   data-v-2e0d16ed="">
                <p>Rutin eğlence anlayışından çıkıp uluslararası üne sahip DJ'lerin ve ünlü sanatçıların performansları
                  eşliğinde, kendinizi Club Cosmos'un çarpıcı atmosferine bırakmayı deneyimleyin.</p>
              </div> <a href="/tr/club-cosmos" class="button is-cosmos-blue is-large-widescreen"  
                data-v-2e0d16ed="">
                DETAY
              </a>
            </div>
          </div>
          <div class="column is-half"  >
            <div dir="ltr" class="slick-slider slick-initialized"   >
              <div class="custom-arrow slick-arrow slick-prev"     >
                <span class="icon has-icons-left is-medium is-transparent-arrow"  
                   ><i class="mdi mdi-chevron-left mdi-24px"  
                     ></i></span>
              </div>
              <div class="slick-list" >
                <div class="slick-track" style="width: 8593px; opacity: 1; transform: translate3d(-1983px, 0px, 0px);"
                    >
                  <div tabindex="-1" data-index="-1" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230204185001448_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1"   aria-hidden="true" class="slick-slide"
                    style="outline: none; width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230601085647073_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="1" aria-hidden="true" class="slick-slide"
                    style="outline: none; width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230601085712632_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="2" aria-hidden="false" class="slick-slide slick-active slick-current"
                    style="outline: none; width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230601085730739_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="3" aria-hidden="true" class="slick-slide"
                    style="outline: none; width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230601085752661_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="4" aria-hidden="true" class="slick-slide"
                    style="outline: none; width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230601085812078_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="5" aria-hidden="true" class="slick-slide"
                    style="outline: none; width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230204185001448_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="6" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230601085647073_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="7" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230601085712632_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="8" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230601085730739_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="9" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230601085752661_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="10" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230601085812078_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="11" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230204185001448_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="custom-arrow slick-arrow slick-next"     >
                <span class="icon has-icons-right is-medium is-transparent-arrow"  
                   ><i class="mdi mdi-chevron-right mdi-24px"  
                     ></i></span>
              </div>
            </div>
          </div> 
        </div>
      </div>
      <div class="cosmos-absolute-content"  ><img src="/_nuxt/img/nightLights1.f933422.png"
          alt="cosmostheatre" class="nightLights1"   data-v-2e0d16ed=""> <img
          src="/_nuxt/img/nightLights2.0131588.png" alt="cosmostheatre" class="nightLights2"  
          data-v-2e0d16ed=""></div>
    </div>
  </section>
  <div data-v-5c09d235="" data-v-6700ede1="" id="carousel-3d-wrapper">
    <div data-v-5c09d235="" class="is-flex is-align-items-center is-justify-content-center pt-4">
      <h2 data-v-5c09d235="" class="cosmos-title cosmos-title--star has-text-center is-size-3-mobile is-size-2-desktop">
        YAKLAŞAN ETKİNLİKLER
        <img data-v-5c09d235="" src="/_nuxt/img/icon-star.dcce8c7.svg" alt="cosmostheatre">
      </h2>
    </div>
    <div data-v-5c09d235="" class="my-carousel-3d">
      <div  data-v-5c09d235="" class="slick-slider slick-initialized">
        <div  class="slick-list">
          <div    class="slick-track slick-center"
            style="width: 527px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
            <div   tabindex="-1"   aria-hidden="false"
              class="slick-slide slick-active slick-center slick-current" style="outline: none; width: 527px;">
              <div  >
                <div data-v-5c09d235=""   tabindex="-1" class="event-slider"
                  style="width: 100%; display: inline-block;"><img data-v-5c09d235=""  
                    src="https://static.kilithg.com/events/63/multimedia/20230613143912825_org.jpg"
                    alt="Küçük Prens: Bir Dostluk Hikayesi Cosmos Theatre’da!" loading="lazy" width="510" height="390"
                    class="current-img"> <a data-v-5c09d235="" href="/tr/etkinlikler-konserler/kucuk-prens"
                    class="button btn-detail"  > <span><span
                        data-v-5c09d235="">DETAY</span></span> </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <img data-v-5c09d235="" src="/_nuxt/img/nightLights2.0131588.png" alt="cosmostheatre" class="nightLights2">
  </div> -->
<!-- </div> -->

<div class="main" id="tt-pageContent">
  <!-- <div class="subpages-inner section-marker indexPageMaker">
    <div class="container-fluid-subpages">
      <div class="section-indent01 complatedSlider indexSlider">
        <div class="container">
          <div class="section-title section-title_bottom-none">
            <h2 class="section-title__text whiteTitle">Upcoming Events</h2>
          </div>
        </div>
        <div class="container-fluid">
          <div class="slick-indent">

            <div class="js-slick01 slick-dots01 slick-initialized slick-slider slick-dotted">
              <div class="slick-list draggable">
                <div class="slick-track" style="opacity: 1; width: 5200px; transform: translate3d(-1035px, 0px, 0px);">
                  <div class="slick-slide slick-cloned" tabindex="-1" role="tabpanel"
                    *ngFor="let  item of productsListByDate; let guestIndx = index"
                    aria-describedby="slick-slide-control02" style="width: 207px;" data-slick-index="13"
                    aria-hidden="true">
                    <div class="event-item">
                      <div class="event-item__label">
                        {{ item.date | date:'dd' }}
                        <span alt="Jan">{{ item.date | date:'MMM' | uppercase }}</span>
                      </div>
                      <div class="event-item__img">

                        <img src="https://panel.cosmosticket.net//upload/activity/202412171353339.jpg"
                          alt="LE PETİT CHEF">
                      </div>
                      <div class="event-item__layout">
                        <a href="/eventdetails/evetd" class="tt-btn" tabindex="-1"><span>DETAILS</span></a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <ul class="slick-dots" role="tablist" style="">
                <li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control00"
                    aria-controls="slick-slide00" aria-label="1 of 2" tabindex="0" aria-selected="true">1</button></li>
                <li role="presentation"><button type="button" role="tab" id="slick-slide-control01"
                    aria-controls="slick-slide02" aria-label="2 of 2" tabindex="-1">2</button></li>
                <li role="presentation"><button type="button" role="tab" id="slick-slide-control02"
                    aria-controls="slick-slide04" aria-label="3 of 2" tabindex="-1">3</button></li>
                <li role="presentation"><button type="button" role="tab" id="slick-slide-control03"
                    aria-controls="slick-slide06" aria-label="4 of 2" tabindex="-1">4</button></li>
                <li role="presentation"><button type="button" role="tab" id="slick-slide-control04"
                    aria-controls="slick-slide08" aria-label="5 of 2" tabindex="-1">5</button></li>
              </ul>
            </div>
            <img src="../../../../assets/buttons/prev.svg" class="slickBtn slickPrevBtn slick-arrow" id="slickPrevBtn"
              style="">
            <img src="../../../../assets/buttons/next.svg" class="slickBtn slickPNextBtn slick-arrow" id="slickPNextBtn"
              style="">
          </div>
        </div>
      </div>

    </div>

  </div> -->
  <div class="subpages-inner section-marker indexPageMaker custom-slider">
    <div class="options" *ngIf="(companyFactSheetDef?.homePageDisplayType ?? 0) === 0">
      <div class="option" appSliderAnimated *ngFor="let item of sliderImageList" style="background-size: cover;"
        [style.background-image]="'url(' + item + ')'">
        <!-- <div class="option" appSliderAnimated *ngFor="let item of activeProductsSlider" style="background-size: cover;"
                [style.background-image]="(item && item.imageList && item.imageList[0] && item.imageList[0] !== null) ? 'url(' + item.imageList[0] + ')' 
                          : 'url(https://panel.cosmosticket.net//upload/activity/20231230114015401.jpg)'"
                (click)="sliderClicked(item)"> -->
        <div class="label">
          <div class="icon">
            <!-- <i class="fa fa-user"></i> -->
          </div>
          <div class="info">

            <div class="main"> </div>
            <div class="sub"> </div>
          </div>
        </div>
      </div>
    </div>

    <div class="options" *ngIf="(companyFactSheetDef?.homePageDisplayType ?? 0) === 1">
      <!-- <div class="option" appSliderAnimated *ngFor="let item of activeProductsCopy" style="background-size: auto;" -->

      <div class="option" appSliderAnimated *ngFor="let item of activeProductsSlider" style="background-size: cover;"
        [style.background-image]="
          item &&
          item.imageList &&
          item.imageList[0] &&
          item.imageList[0] !== null
            ? 'url(' + item.imageList[0] + ')'
            : 'url(https://panel.cosmosticket.net//upload/activity/20231230114015401.jpg)'
        " (click)="sliderClicked(item)">
        <div class="date">
          <span>{{ item.programDate | date : "dd" : "" : language }}</span>
          {{ item.programDate | date : "MMM" : "" : language | uppercase }}
        </div>
        <div class="shadow">
          <div class="programDetails">
            <div class="tittle">{{ item.remark }}</div>
            <div class="subb"></div>
          </div>
        </div>
        <div class="label">
          <div class="icon">
            <i class="fa fa-user"></i>
          </div>
          <div class="info">
            <div class="main"></div>
            <div class="sub"></div>
          </div>
        </div>
      </div>
      <!-- <div class="option" appSliderAnimated
        style="background-image:url(https://66.media.tumblr.com/6fb397d822f4f9f4596dff2085b18f2e/tumblr_nzsvb4p6xS1qho82wo1_1280.jpg)">
        <div class="shadow">

        </div>
        <div class="label">
          <div class="icon">
            <i class="fa fa-eercast"></i>
          </div>
          <div class="info">
            <div class="main">Blo</div>
            <div class="sub">Omu</div>
          </div>
        </div>
      </div>
      <div class="option" appSliderAnimated
        style="background-image:url(https://66.media.tumblr.com/6fb397d822f4f9f4596dff2085b18f2e/tumblr_nzsvb4p6xS1qho82wo1_1280.jpg)">
        <div class="shadow">

        </div>
        <div class="label">
          <div class="icon">
            <i class="fa fa-eercast"></i>
          </div>
          <div class="info">
            <div class="main">Blo</div>
            <div class="sub">Omu</div>
          </div>
        </div>
      </div>
      <div class="option" appSliderAnimated
        style="background-image:url(https://66.media.tumblr.com/6fb397d822f4f9f4596dff2085b18f2e/tumblr_nzsvb4p6xS1qho82wo1_1280.jpg)">
        <div class="shadow">

        </div>
        <div class="label">
          <div class="icon">
            <i class="fa fa-eercast"></i>
          </div>
          <div class="info">
            <div class="main">Blo</div>
            <div class="sub">Omu</div>
          </div>
        </div>
      </div>
      <div class="option" appSliderAnimated
        style="background-image:url(https://66.media.tumblr.com/6fb397d822f4f9f4596dff2085b18f2e/tumblr_nzsvb4p6xS1qho82wo1_1280.jpg)">
        <div class="shadow">

        </div>
        <div class="label">
          <div class="icon">
            <i class="fa fa-eercast"></i>
          </div>
          <div class="info">
            <div class="main">Blo</div>
            <div class="sub">Omu</div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <div class="subpages-inner custom-form" [formGroup]="productSearchForm">
    <div class="row form-row" id="home-form">
      <div class="col-4 center-common col-xs-12" style="padding-left: 0px !important;">
        <mat-form-field style="width: 100%" class="example-full-width w-auto d-flex" appearance="outline"
          id="event-dropdown-for-events">
          <mat-label>{{ "event" | transloco }}</mat-label>
          <input type="text" [formControlName]="'product'" matInput [matAutocomplete]="auto"
            (input)="filterChanged($event)" />
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
            (optionSelected)="onProductChange($event)">
            <mat-option *ngFor="let item of activeProductsForEvents" [value]="item">{{ item.remarkDisplay
              }}</mat-option>
          </mat-autocomplete>
          <button mat-icon-button matSuffix (click)="filterEmpty()">
            <mat-icon style="color:rgba(255, 255, 255, 0.54) ">{{'close'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-6 center-common col-xs-12" style="padding-left: 0px !important;">
        <mat-form-field style="background: none; width: 100%" class="w-auto d-flex" appearance="outline"
          id="datepicker-for-events">
          <!-- <mat-label>{{'Checkin'| transloco}} - {{'Checkout'| transloco}}</mat-label> -->
          <mat-label>{{ "daterange" | transloco }}</mat-label>
          <mat-date-range-input [rangePicker]="checkin" [min]="minDate" [max]="maxDate" rangeSeparator=" - ">
            <input matInput [readonly]="true" (click)="checkin.open()" matStartDate placeholder="Start date"
              id="startdate" formControlName="start" />
            <input matInput [readonly]="true" (click)="checkin.open()" matEndDate placeholder="End date" id="enddate"
              formControlName="end" (dateChange)="dateRangeChange()" />
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="checkin" id="datePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #checkin></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="col-2 center-common col-xs-12">
        <button mat-raised-button color="primary" (click)="searchEvents()" class="common-button"
          id="search-button-for-events" style="margin-right: 5px; height: 100%; width: 100%">
          <mat-icon matSuffix style="color:#ffffff !important">search</mat-icon>
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="section-wrapper subpages-inner section-marker">
    <!-- <div class="purpleLight"></div> -->
    <div class="light"></div>
    <div class="container container-fluid-lg">
      <h2 class="ttcalendar__month-title text-center">
        {{ "allevents" | transloco }}
      </h2>
      <div>
        <div class="tickets-wide" data-id="431" *ngFor="let item of productsListByDate; let guestIndx = index">
          <div class="tickets-wide__item">
            <div class="tickets-wide__img">
              <img src="{{
                  item &&
                  item.child &&
                  item.child[0] &&
                  item.child[0].imageList &&
                  item.child[0].imageList[0]
                    ? item.child[0].imageList[0]
                    : 'https://veboni.blob.core.windows.net/5fbfb39a-7fd3-47ff-80cc-bdd3bceb7718/pms/jpeg/73105482-6884-4eff-9bec-728de2f73b4a.jpeg'
                }}" alt="" />
            </div>
            <div class="tickets-wide__description">
              <div class="tt-col">
                <div class="tickets-wide__label">
                  <span>{{ item.date | date : "dd" : "" : language }}</span>
                  {{ item.date | date : "MMM" : "" : language | uppercase }}
                </div>
              </div>
              <div class="tt-col">
                <div class="tickets-wide__data">
                  {{ item.date | date : "EEEE, MMM dd, yyyy" : "" : language }}
                </div>
                <div class="tickets-wide__title">
                  {{ item.child[0].remarkDisplay | uppercase }}
                </div>
              </div>
            </div>
            <div class="cosmos-btn">
              <button class="cosmos-btn-details" (click)="
                  openSelectedEventDetails(
                    item.child[0].programDetailId,
                    item.date
                  )
                ">
                <span>{{ "details" | transloco }}</span>
              </button>
            </div>
          </div>
        </div>
        <!-- <div class="tickets-wide " data-id="431">
          <div class="tickets-wide__item">
            <div class="tickets-wide__img"><img
                src="https://panel.cosmosticket.net//upload/activity/20231230114015401.jpg" alt=""></div>
            <div class="tickets-wide__description">
              <div class="tt-col">
                <div class="tickets-wide__label">
                  <span> 07</span>
                  Jan
                </div>
              </div>
              <div class="tt-col">
                <div class="tickets-wide__data">SUNDAY, JAN 07, 2024</div>
                <div class="tickets-wide__title">LE PETİT CHEF</div>
              </div>
            </div>
            <div class="tickets-wide__btn">

              <a href="/etkinlik/431/le-petit-chef" class="tt-btn-default"><span>DETAILS</span></a>
            </div>
          </div>
        </div>
        <div class="tickets-wide " data-id="432">
          <div class="tickets-wide__item">
            <div class="tickets-wide__img"><img
                src="https://panel.cosmosticket.net//upload/activity/2023123014645389.jpg" alt=""></div>
            <div class="tickets-wide__description">
              <div class="tt-col">
                <div class="tickets-wide__label">
                  <span> 10</span>
                  Jan
                </div>
              </div>
              <div class="tt-col">
                <div class="tickets-wide__data">WEDNESDAY, JAN 10, 2024</div>
                <div class="tickets-wide__title">DÜNYA'NIN EN KÜÇÜK ŞEFİ</div>
              </div>
            </div>
            <div class="tickets-wide__btn">

              <a href="/etkinlik/432/le-petit-chef" class="tt-btn-default"><span>DETAILS</span></a>
            </div>
          </div>
        </div>
        <div class="tickets-wide " data-id="434">
          <div class="tickets-wide__item">
            <div class="tickets-wide__img"><img src="https://panel.cosmosticket.net//upload/activity/20241211252448.jpg"
                alt=""></div>
            <div class="tickets-wide__description">
              <div class="tt-col">
                <div class="tickets-wide__label">
                  <span> 11</span>
                  Jan
                </div>
              </div>
              <div class="tt-col">
                <div class="tickets-wide__data">THURSDAY, JAN 11, 2024</div>
                <div class="tickets-wide__title">LE PETİT CHEF</div>
              </div>
            </div>
            <div class="tickets-wide__btn">

              <a href="/etkinlik/434/le-petit-chef" class="tt-btn-default"><span>DETAILS</span></a>
            </div>
          </div>
        </div>
        <div class="tickets-wide " data-id="435">
          <div class="tickets-wide__item">
            <div class="tickets-wide__img"><img
                src="https://panel.cosmosticket.net//upload/activity/202412171646410.jpg" alt=""></div>
            <div class="tickets-wide__description">
              <div class="tt-col">
                <div class="tickets-wide__label">
                  <span> 12</span>
                  Jan
                </div>
              </div>
              <div class="tt-col">
                <div class="tickets-wide__data">FRIDAY, JAN 12, 2024</div>
                <div class="tickets-wide__title">LE PETİT CHEF</div>
              </div>
            </div>
            <div class="tickets-wide__btn">

              <a href="/etkinlik/435/le-petit-chef" class="tt-btn-default"><span>DETAILS</span></a>
            </div>
          </div>
        </div>
        <div class="tickets-wide " data-id="436">
          <div class="tickets-wide__item">
            <div class="tickets-wide__img"><img
                src="https://panel.cosmosticket.net//upload/activity/202412171353339.jpg" alt=""></div>
            <div class="tickets-wide__description">
              <div class="tt-col">
                <div class="tickets-wide__label">
                  <span> 13</span>
                  Jan
                </div>
              </div>
              <div class="tt-col">
                <div class="tickets-wide__data">SATURDAY, JAN 13, 2024</div>
                <div class="tickets-wide__title">LE PETİT CHEF</div>
              </div>
            </div>
            <div class="tickets-wide__btn">

              <a href="/etkinlik/436/le-petit-chef" class="tt-btn-default"><span>DETAILS</span></a>
            </div>
          </div>
        </div>
        <div class="tickets-wide " data-id="437">
          <div class="tickets-wide__item">
            <div class="tickets-wide__img"><img src="https://panel.cosmosticket.net//upload/activity/20241217346868.jpg"
                alt=""></div>
            <div class="tickets-wide__description">
              <div class="tt-col">
                <div class="tickets-wide__label">
                  <span> 14</span>
                  Jan
                </div>
              </div>
              <div class="tt-col">
                <div class="tickets-wide__data">SUNDAY, JAN 14, 2024</div>
                <div class="tickets-wide__title">LE PETİT CHEF</div>
              </div>
            </div>
            <div class="tickets-wide__btn">

              <a href="/etkinlik/437/le-petit-chef" class="tt-btn-default"><span>DETAILS</span></a>
            </div>
          </div>
        </div>
        <div class="tickets-wide " data-id="423">
          <div class="tickets-wide__item">
            <div class="tickets-wide__img"><img
                src="https://panel.cosmosticket.net//upload/activity/20231225145337262.jpg" alt=""></div>
            <div class="tickets-wide__description">
              <div class="tt-col">
                <div class="tickets-wide__label">
                  <span> 14</span>
                  Jan
                </div>
              </div>
              <div class="tt-col">
                <div class="tickets-wide__data">SUNDAY, JAN 14, 2024</div>
                <div class="tickets-wide__title">Küçük Prens</div>
              </div>
            </div>
            <div class="tickets-wide__btn">

              <a href="/etkinlik/423/kucuk-prens" class="tt-btn-default"><span>DETAILS</span></a>
            </div>
          </div>
        </div>
        <div class="tickets-wide " data-id="440">
          <div class="tickets-wide__item">
            <div class="tickets-wide__img"><img
                src="https://panel.cosmosticket.net//upload/activity/202413112810886.jpg" alt=""></div>
            <div class="tickets-wide__description">
              <div class="tt-col">
                <div class="tickets-wide__label">
                  <span> 17</span>
                  Jan
                </div>
              </div>
              <div class="tt-col">
                <div class="tickets-wide__data">WEDNESDAY, JAN 17, 2024</div>
                <div class="tickets-wide__title">LE PETİT CHEF</div>
              </div>
            </div>
            <div class="tickets-wide__btn">

              <a href="/etkinlik/440/le-petit-chef" class="tt-btn-default"><span>DETAILS</span></a>
            </div>
          </div>
        </div>
        <div class="tickets-wide " data-id="439">
          <div class="tickets-wide__item">
            <div class="tickets-wide__img"><img
                src="https://panel.cosmosticket.net//upload/activity/202413104456880.jpg" alt=""></div>
            <div class="tickets-wide__description">
              <div class="tt-col">
                <div class="tickets-wide__label">
                  <span> 18</span>
                  Jan
                </div>
              </div>
              <div class="tt-col">
                <div class="tickets-wide__data">THURSDAY, JAN 18, 2024</div>
                <div class="tickets-wide__title">LE PETİT CHEF</div>
              </div>
            </div>
            <div class="tickets-wide__btn">

              <a href="/etkinlik/439/le-petit-chef" class="tt-btn-default"><span>DETAILS</span></a>
            </div>
          </div>
        </div>
        <div class="tickets-wide " data-id="438">
          <div class="tickets-wide__item">
            <div class="tickets-wide__img"><img src="https://panel.cosmosticket.net//upload/activity/20241310454408.jpg"
                alt=""></div>
            <div class="tickets-wide__description">
              <div class="tt-col">
                <div class="tickets-wide__label">
                  <span> 19</span>
                  Jan
                </div>
              </div>
              <div class="tt-col">
                <div class="tickets-wide__data">FRIDAY, JAN 19, 2024</div>
                <div class="tickets-wide__title">LE PETİT CHEF</div>
              </div>
            </div>
            <div class="tickets-wide__btn">

              <a href="/etkinlik/438/le-petit-chef" class="tt-btn-default"><span>DETAILS</span></a>
            </div>
          </div>
        </div>
        <div class="tickets-wide " data-id="441">
          <div class="tickets-wide__item">
            <div class="tickets-wide__img"><img src="https://panel.cosmosticket.net//upload/activity/20241312845842.jpg"
                alt=""></div>
            <div class="tickets-wide__description">
              <div class="tt-col">
                <div class="tickets-wide__label">
                  <span> 20</span>
                  Jan
                </div>
              </div>
              <div class="tt-col">
                <div class="tickets-wide__data">SATURDAY, JAN 20, 2024</div>
                <div class="tickets-wide__title">LE PETİT CHEF</div>
              </div>
            </div>
            <div class="tickets-wide__btn">

              <a href="/etkinlik/441/le-petit-chef" class="tt-btn-default"><span>DETAILS</span></a>
            </div>
          </div>
        </div>
        <div class="tickets-wide " data-id="442">
          <div class="tickets-wide__item">
            <div class="tickets-wide__img"><img src="https://panel.cosmosticket.net//upload/activity/20241312327435.jpg"
                alt=""></div>
            <div class="tickets-wide__description">
              <div class="tt-col">
                <div class="tickets-wide__label">
                  <span> 21</span>
                  Jan
                </div>
              </div>
              <div class="tt-col">
                <div class="tickets-wide__data">SUNDAY, JAN 21, 2024</div>
                <div class="tickets-wide__title">LE PETİT CHEF</div>
              </div>
            </div>
            <div class="tickets-wide__btn">

              <a href="/etkinlik/442/le-petit-chef" class="tt-btn-default"><span>DETAILS</span></a>
            </div>
          </div>
        </div>
        <div class="tickets-wide " data-id="424">
          <div class="tickets-wide__item">
            <div class="tickets-wide__img"><img
                src="https://panel.cosmosticket.net//upload/activity/20231225153257813.jpg" alt=""></div>
            <div class="tickets-wide__description">
              <div class="tt-col">
                <div class="tickets-wide__label">
                  <span> 21</span>
                  Jan
                </div>
              </div>
              <div class="tt-col">
                <div class="tickets-wide__data">SUNDAY, JAN 21, 2024</div>
                <div class="tickets-wide__title">Küçük Prens</div>
              </div>
            </div>
            <div class="tickets-wide__btn">

              <a href="/etkinlik/424/kucuk-prens" class="tt-btn-default"><span>DETAILS</span></a>
            </div>
          </div>
        </div>
        <div class="tickets-wide " data-id="443">
          <div class="tickets-wide__item">
            <div class="tickets-wide__img"><img
                src="https://panel.cosmosticket.net//upload/activity/202413152724942.jpg" alt=""></div>
            <div class="tickets-wide__description">
              <div class="tt-col">
                <div class="tickets-wide__label">
                  <span> 24</span>
                  Jan
                </div>
              </div>
              <div class="tt-col">
                <div class="tickets-wide__data">WEDNESDAY, JAN 24, 2024</div>
                <div class="tickets-wide__title">LE PETİT CHEF</div>
              </div>
            </div>
            <div class="tickets-wide__btn">

              <a href="/etkinlik/443/le-petit-chef" class="tt-btn-default"><span>DETAILS</span></a>
            </div>
          </div>
        </div>
        <div class="tickets-wide " data-id="425">
          <div class="tickets-wide__item">
            <div class="tickets-wide__img"><img
                src="https://panel.cosmosticket.net//upload/activity/202312251699292.jpg" alt=""></div>
            <div class="tickets-wide__description">
              <div class="tt-col">
                <div class="tickets-wide__label">
                  <span> 28</span>
                  Jan
                </div>
              </div>
              <div class="tt-col">
                <div class="tickets-wide__data">SUNDAY, JAN 28, 2024</div>
                <div class="tickets-wide__title">Küçük Prens</div>
              </div>
            </div>
            <div class="tickets-wide__btn">

              <a href="/etkinlik/425/kucuk-prens" class="tt-btn-default"><span>DETAILS</span></a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <style>
    .ttcalendar-layout02,
    .ttcalendar-layout02 .slick-list {
      height: auto !important;
    }
  </style>
</div>