<div class="main" id="tt-pageContent">
  <input type="hidden" id="typeid" value="8">
  <input type="hidden" name="seanceID" id="seanceID" value="664">
  <div class="subpages-inner section-marker">
    <div class="container-fluid-subpages etkinlikdetay">
      <div class="eventDetail mainEventDetail" style="display: flex;flex-wrap: wrap;">
        <div class="col">
          <div class="eventImg" style="    text-align: left !important;
        width: fit-content;    float: left;">
          </div>
          <div class="eventLeft" style="    margin-right: 4em; margin-left:1em;">
            <div class="main" [innerHtml]="html"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>